server:
  port: 8021
spring:
  application:
    name: mall-gateway
  profiles:
    active: dev
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
<<<<<<< HEAD
          lower-case-service-id: true
management:
=======
          lower-case-service-id: true #使用小写service-id
management: #开启SpringBoot Admin的监控
>>>>>>> 7832477... 寤虹虫
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
logging:
  level:
    org.springframework.cloud.gateway: debug